* {
  color: #363e3f;
  font-family: "AIABody",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.jumbotron {
  margin-bottom: 0;
  padding: 0;
}

.jumbotron-fluid {
  background: #ffffff;
}

.main__header {
  font-weight: 700;
}

.display-4 {
  font-size: 2.5rem;
}

.hide {
  display: none;
}

.lead {
  font-size: 1rem;
}

p {
  margin: 0;
}

hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem !important;
}

ul {
  padding: 0;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  color: #fff !important;
  text-decoration: unset !important;
}

svg {
  vertical-align: baseline;
}

.step-trigger {
  padding: 0 !important;
}

.stepper__description {
  margin-top: 1.5rem;
}

.stepper__description__title {
  font-weight: 700 !important;
}

.stepper__description__info {
  padding: 1rem 0;
}

.error {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #b8123e;
}

.form__container {
  background: #f0eee1;
  margin-top: 1rem;
}

.form__tags {
  margin: 1rem 0;
}

.form-check {
  padding: 0 0 0 2rem;
  margin: 2rem 0;
}

.form-check-pep {
  padding: 0 0 0 2rem ;
  margin: 0.5rem 0 2.1rem 0;
}

.pep-details {
  padding: 0 0 0 1.5rem;
}

.text-decoration-pep {
  text-decoration: underline;
  cursor: pointer;
}

.form-check-accidental {
  padding: 0 2rem;
  margin: 0 0;
}

.form-group {
  width: 100%;
}

.submit__btn {
  float: right;
}

.form__left__title {
  font-size: 1.6rem;
  font-weight: bold;
  /* color: #352a2a; */
}

.form__left__description {
}

.privacy__page {
  background: #d4edf1;
}

#insurance_code_policy {
  padding-bottom: 4rem;
}

.bs-stepper-content {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input__box {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #495057; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select-container {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #495057; */
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea.input__box {
  height: auto;
}

.privacy_title {
  font-weight: bold;
  /* color: #352a2a; */
  font-size: 2rem;
}

.privacy_ul {
  padding: 1.5rem 0 0 0;
  margin: 0 1rem;
}

.privacy_ul li {
  margin-bottom: 2rem;
}

.privacy_consent {
  /* margin-left: 1rem; */
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(2);
}

.privacy_consent li:last-child {
  margin-top: 2rem;
  margin-left: 2rem;
  /* padding: 0 1.5rem; */
}

.form-check-input-box {
  position: absolute;
  margin-top: 1rem;
  margin-left: -1.25rem;
}

.form-check-label-checkbox {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.form-check-input {
  margin-top: 1rem;
}

.form-check-label {
  margin-left: 1rem;
}

.btn {
  background: #b8123e !important;
  color: #fff;
}

.pickUp_btn {
  background: #363e3f !important;
  color: #fff;
}

@media (min-width: 576px) {
  .jumbotron {
    margin-bottom: 0;
    /* padding: 0 2rem !important; */
    padding: 2rem 0 0 0;
  }
  .modal-dialog {
    width: 334px;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.upload_form {
  margin: 2rem 0;
}

.small,
small {
  font-size: 70%;
}

.small-pep-font {
  font-size: 80%;
}

.small-modal-pep-font {
  font-size: 70%;
}


.upload_btn_title {
  font-weight: 600;
  font-size: 1rem;
}

.card {
  border: 1px solid red;
  color: red;
  /* margin: 4rem 0; */
  margin-bottom: 4rem;
}

#warning_parent {
  display: none;
}

#warning_parent_acct {
  display: none;
}


#warning_parent_addBeneficiary {
  display: none;
}

#warning_parent_addBeneficiaryacct {
  display: none;
}


.feedback_label {
  display: none;
  color: #b8123e;
}

.lib-panel img {
  background-color: transparent;
}

.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.image-wrapper {
  max-width: 30%;
}

#upload_warning {
  color: red;
}

/* .loader {
  display: none;
  float: right;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #0a0c0c;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite; 
  animation: spin 1s linear infinite;
} */

.loader{
  position: relative;
  width: 50px;
  height: 50px;
  float:right;
  user-select: none;
  box-sizing: border-box;
}
.loader-bg
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.spiner-holder-one
{
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  box-sizing: border-box;
}
.spiner-holder-two
{
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
}
.loader-spiner
{
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}  
.animate-0-25-a
{
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}
.animate-0-25-b
{
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.animate-25-50-a
{
  transform: rotate(180deg);
  transform-origin: 100% 100%;
}
.animate-25-50-b
{
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.animate-50-75-a
{
  transform: rotate(270deg);
  transform-origin: 100% 100%;
}
.animate-50-75-b
{
  transform: rotate(-90deg);
  transform-origin:100% 100%;
}
.animate-75-100-a
{
  transform: rotate(0deg);
  transform-origin: 100% 100%;
}
.animate-75-100-b
{
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.text
{
  text-align: center;
  padding-top:32%;
  font-size: 12px;     
  color: rgba(255, 255, 255, 0.3);
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }

.upload_btn_span {
  float: right;
  color: #fff;
  display: none;
}

.bs-stepper-circle-text {
  color: #007bff;
}

.bs-stepper .step-trigger.disabled,
.bs-stepper .step-trigger:disabled {
  opacity: 1;
}

.time_duration {
  background: #f0eee1;
  padding: 1rem;
  text-align: center;
}

.time_container {
  display: flex;
  align-items: center;
}

.reference {
  background: #485b70;
}

.white {
  color: #fff;
}

.bs-stepper-circle-text-1 {
  color: #007bff;
}

svg > path {
  color: red;
}

.zero-margin-padding {
  margin: 0;
  padding-left: 5px;
}

.pl-pr-0 {
  padding-right: 0;
  padding-left: 0;
}

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
  max-width: 24px;
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #333;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}

.md-step-circle.active > span {
  color: white;
}

.md-stepper-horizontal.blue .md-step.active .md-step-circle {
  background-color: #007bff;
  border: unset;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\2713";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  font-size: 12px;
  overflow-wrap: break-word;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, .26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: #007bff;
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, .54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #a79999;
}

.md-stepper-horizontal .md-step .md-step-bar-left .active,
.md-stepper-horizontal .md-step .md-step-bar-right .active {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #007bff;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 15px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 15px;
}


.vertical-center {
  display: flex;
  align-items: center;
}

.p-2 {
  padding: 0 0.2rem;
}
.bg_light_pink {
  background: #f0eee1;
}

.card-hv {
  border: 1px solid #fff;
}

.claim-card {
  border: 1px solid #fff;
  padding: 2rem 0;
  margin: 0 2rem 2rem 2rem;
}

.md-2 {
  margin: 1rem 0;
}

.cursor {
  cursor: pointer;
}

.justifyCenter {
  justify-content: center;
}


.flip-card {
  background-color: transparent;
  width: 230px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

 .back {
   display: none;
 }

 .front {
   display: block;
 }

.flip-card:hover .back{
  display: unset;
}

.flip-card:hover .front{
  display: none;
}

.card-hover .reveal {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
}

.card-hover:hover .front {
  display: none;
}

.card-hover:hover .reveal {
  height: auto;
  visibility: visible;
  opacity: 10;
  transition: opacity 1s ease;
}
#p1 {
  margin-top: 46px;
  text-align: center;
  color: #363e3f;
  font-family: "AIABody", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}

.m-modal-top-2 {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 344px; /* New width for default modal */
  }
  .modal-sm {
    width: 300px; /* New width for small modal */
  }
  
}
@media screen and (min-width: 992px) {
  .modal-lg {
    width: 344px; /* New width for large modal */
  }
  .popup {
    width: 70%;
    justify-content: flex-end;
  }
}

 
@media screen and (max-width: 570px ) {
    .container{
        padding-top: 5%;
    }
}


@media screen and (max-width: 480px ) {
  .icon {

    height: 60px;
    margin-top: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 480px ) {
  .icon1 {

    height: 60px;
    margin-top: 42px;
    width: 60px;
  }
}


@media screen and (min-width: 480px ) {
  .icon1 {

    height: 80px;
    width: 85px;
  }
}

@media screen and (max-width: 480px ) {
  .display-4 {
font-size: 2.5rem;
margin-top: 19px;      
  }
}

@media screen and (max-width: 480px ) {
  .lead {
font-size: 0.9rem;
margin-top: 5px;      
  }
} 
